@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.Info-container{
    display:block;
    width: 350px;
    margin-top: 45px;
}
.Info-text{
    color:#fff;
    font-size:2rem;
    font-family: 'Montserrat';
    margin-left:425px;
    display: block;
    width:700px;
    font-weight: lighter;
}
.brand-img{
    margin-left:570px;
    width: 335px;
}