body{
    background-color:#000;
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 100%;
}
.Initiate-container{
    background-color: rgba(250, 250, 250, 0.09)!important;
    height: 715px;
}
