.reg-text{
    color: white;
}
.reg-btn{
    border-radius: 7%;
    display: block;
    margin:auto;
    background-color: rgb(126, 3, 3);
    font-size: 2rem;
    border: solid 1px rgb(126, 3, 3);;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    font-family: 'Montserrat';
}